<nav>
  {% set navPages = collections.all | eleventyNavigation %}
{#   <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul> #}
  <button id="btn-prev">Previous Task</button>
  <span id="slide-counter"></span>
  <button id="btn-next">Next Task</button>
  <button id="btn-pause-play">&#9646;&#9646;</button>
  <a href="/done/" id="nav-done-link">Done</a>
</nav>
