<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		<header>
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
		<div id="slide-progress"></div>
		<div id="admin-panel">
			<div id="admin-panel-tab">&#9998;</div>
			<div id="admin-panel-content">
				<a id="admin-edit-link" href="/admin/">Edit this task</a>
			</div>
		</div>
	</body>

</html>
