<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		<header>
			{% include "components/nav.njk" %}
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
		<div id="slide-progress"></div>
		<div id="admin-panel">
			<div id="admin-panel-tab">&#9998;</div>
			<div id="admin-panel-content">
				<a id="admin-edit-link" href="/admin/">Edit this task</a>
				<hr class="admin-panel-hr">
				<button id="btn-mark-done">&#10003; Done</button>
				<button id="btn-mark-wontdo">&#10007; Won&#39;t Do</button>
			</div>
		</div>
	</body>

</html>
