---
layout: layouts/base.njk
section: tags
permalink: /tags/index.html
---

{{ layoutContent | safe }}

{% set postslist = collections.post %}

<section id="tags-number-of-posts">
  {% for tag2, posts2 in collections | dictsort %}
  {% set tag2Url %}/tags/{{ tag2 | slug }}/{% endset %}
   <a href="{{ tag2Url | url }}">{{ tag2 }} ({{ posts2 | length }})</a><br/>
  {% endfor %}
</section>
